<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search AnythingHalal | Anything</title>
</head>
<body>
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <p>
    <strong>This error was handled by the "Errors" app</strong>
    <pre><%= error.stack %></pre>
  </p>
</body>
</html>
