<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <main>
    <div class="container listings">
      <div class="col-md-6">
        <div id="mapid">
        </div>
      </div>
      <div class="col-md-6">
        This is for listings
      </div>
    </div>
  </main>
  <footer>
    <% include ./partials/footer %>
  </footer>
</body>
</html>
