<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <% include ./partials/jumbotron %>
      <div class="categories">
        <div class="container">
          <div class="row">
            <h2 class="text-center">Explore Your Halal Food Establishments</h2>
            <p class="text-center">Selection of the best Halal food offer in South East Asia</p>
          </div>
          <div class="row grid-row-1">
            <div class="col-md-8">
              <div class="panel panel-default" id="cafe">
                <a href="/categories/cafes">
                  <div class="panel-body">
                    <h3 class="text-center" style="margin-top: 110px;">Cafe</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default" id="fine-dining">
                <a href="/categories/finedining">
                  <div class="panel-body">
                    <h3 class="text-center" style="margin-top: 110px;">Fine Dining</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default" id="catering">
                <a href="/categories/catering">
                  <div class="panel-body">
                    <h3 class="text-center" style="margin-top: 110px;">Catering</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default" id="coffeeshop">
                <a href="/categories/coffeeshop">
                  <div class="panel-body">
                    <h3 class="text-center" style="margin-top: 110px;">Coffee Shop</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default" id="fastfood">
                <a href="/categories/fastfood">
                  <div class="panel-body">
                    <h3 class="text-center" style="margin-top: 110px;">Fast Food</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <% include ./partials/footer %>
    </footer>
</body>
</html>
