<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <% include ./partials/jumbotron %>
      <div class="categories">
        <div class="container">
          <div class="row">
            <h2 class="text-center">Explore Your Halal Food Establishments</h2>
            <p class="text-center">Selection of the best Halal food offer in South East Asia</p>
          </div>
          <div class="row" id="grid-row-1">
          </div>
        </div>
      </div>
    </main>
    <footer>
      <% include ./partials/footer %>
    </footer>
</body>
</html>
