<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Search for AnythingHalal | AnythingHalal</title>

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/web/public/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/web/public/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/web/public/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/web/public/images/favicons/manifest.json">
<link rel="shortcut icon" href="/web/public/images/favicons/favicon.ico">
<meta name="msapplication-config" content="/web/public/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- CSS (load bootstrap from a CDN) -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBqLmue_K9_Hc1PKawuXdu_T5-mcFrNcys&sensor=false&amp;libraries=places"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/map.js"></script>
