<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/images/cropped-halallogo.png" alt="">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right" id="user-login-big">
            <li id="hello-user"><a href="/profile"></a></li>
            <li class="logout"><a href="/">Logout</a></li>
            <li class="sign-in"><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-default secondary-nav-menu" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Browse Categories
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <div class="col-md-3">
            <li><a href="/categories">Restaurant</a></li>
            <li><a href="/categories">Buffet</a></li>
            <li><a href="/categories">Western</a></li>
            <li><a href="/categories">Frozen</a></li>
            <li><a href="/categories">Fine-dining</a></li>
            <li><a href="/categories">Coffeeshop</a></li>
            <li><a href="/categories">Fining</a></li>
            <li><a href="/categories">Fastfood</a></li>
            <li><a href="/categories">Cafe</a></li>
            <li><a href="/categories">Catering</a></li>
            <li><a href="/categories">Kiosk</a></li>
            <li><a href="/categories">Confectioery</a></li>
            <li><a href="/categories">Dessert</a></li>
            <li><a href="/categories">Casual Dining</a></li>
          </div>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="user-login-small">
            <li class="logout"><a href="/">Logout</a></li>
            <li class="sign-in"><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
