<div class="jumbotron">
  <div class="container text-center">
    <h1>Search for Anything Halal</h1>
    <p>Anything Halal helps you find out Halal Food Establishments in your Area</p>
    <form action="POST" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="searchInputForm3"></label>
        <input type="text" class="form-control" id="searchInputForm3" placeholder="What are you looking for?">
      </div>
      <div class="form-group">
        <label class="sr-only" for="searchLocationForm3"></label>
        <input type="text" class="form-control" id="searchLocationForm3" placeholder="Location">
      </div>
      <div class="form-group">
        <select class="form-control">
          <option>Buffet</option>
          <option>Cafe</option>
          <option>Casual Dining</option>
          <option>Catering</option>
          <option>Coffeeshop</option>
          <option>Confectionery</option>
          <option>Dessert</option>
          <option>Fastfood</option>
          <option>Fine Dining</option>
          <option>Frozen</option>
          <option>Kiosk</option>
          <option>Restaurant</option>
          <option>Western</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>
